body {
    background-image: url(./xxx1000/back.jpg);
    background-size: cover;
}

p {
    font-size: 1.6rem;
    color: black;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    margin-top: 110px;
}

h1 {
    text-align: center;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(6, 200px);
    grid-gap: 5px;
    justify-content: center;
}

.content {
    background-color: bisque;
    border: 2px solid black;
}

.content1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content7 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    opacity: 0.5;
    background-color: orangered;
    border-radius: 8px;
}


/* //////////////////////////////////////// */

.content2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content12 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    opacity: 0.5;
    background-color: orangered;
    border-radius: 8px;
}


/* //////////////////////////////////////// */

.content3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.content11 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    opacity: 0.5;
    background-color: orangered;
    border-radius: 8px;
}


/* //////////////////////////////////////// */

.content4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}

.content10 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    opacity: 0.5;
    background-color: orangered;
    border-radius: 8px;
}


/* //////////////////////////////////////// */

.content5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

.content9 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    opacity: 0.5;
    background-color: orangered;
    border-radius: 8px;
}


/* //////////////////////////////////////// */

.content6 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}

.content8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
    opacity: 0.5;
    background-color: orangered;
    border-radius: 8px;
}


/* //////////////////////////////////////// */